.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 90px;
}

.slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: #F6F7F6;
    z-index: -1;
}

.slider::after {
    content: '';
    position: absolute;
    top: 5%;
    right: 0;
    width: 55%;
    height: 100%;
    background-image: url('img/Group 388.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

body {
    font-family: "Prompt", sans-serif;
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.container-1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.card {
    width: 500px;
    height: 500px;
    background: #fff;
    /* border-radius: 20px; */
    margin: 25px;
    cursor: pointer;
    transition: all 0.25s ease;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.square-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 20px; */
}

.card-content {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    overflow-x: auto;
    padding-right: 0;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.card-content::-webkit-scrollbar {
    height: 0px;
}

.card-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

.btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CECECE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 5px;
    transition: all 0.25s ease;
    z-index: 10;
}

#prev, #next {
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background-color: #CECECE;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease;
    z-index: 10;
}

#next {
    right: 40px;
}

#prev {
    right: 100px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn i {
    font-size: 24px;
    color: #000;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 90px;
}

.slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: #F6F7F6;
    z-index: -1;
}

.slider-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 5%;
    z-index: 1;
}

.left-text {
    text-align: left;
    margin-top: 10px;
    color: #000;
}

.right-text {
    position: absolute;
    right: 5%;
    top: 9%;
    text-align: left;
    color: #fff;
    z-index: 1;
    width: 45%;
    padding-left: 20px;
}

.left-text h1 {
    font-size: 100px;
    margin: 0;
    font-weight: 500;
    color: #5D5D5E;
}

.slider-text p {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}

#free-consult {
    display: block;
    position: absolute;
    left: 45%;
    margin-left: 50px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 50px;
    padding: 5px 20px;
    font-size: 16px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
    border: none;
    outline: none;
    transition: all 0.25s ease;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Prompt", sans-serif;
}

#free-consult span.material-symbols-outlined {
    background-color: #6C151A;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
}

#free-consult:hover {
    color: #6C151A;
}

#free-consult:hover span.material-symbols-outlined {
    background-color: #ffffff;
    color: #000000;
}
a {
    text-decoration: none; 
    color: inherit; 
}

@media (min-width: 768px) {
    .right-text {
        display: none;
    }
}

@media (max-width: 767px) {
    .right-text {
        display: block;
    }

    #mobile-free-consult {
        display: flex;
    }

    #free-consult {
        display: none;
    }
}

@media (max-width: 767px) {
    .slider-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 100%;
    }

    .right-text {
        width: 100%;
        position: static;
        padding-left: 0;
        margin-top: 10px;
        text-align: left;
        color: #5D5D5E;
    }

    #mobile-free-consult {
        display: block;
        margin-left: 0;
        width: auto;
        padding: 5px 10px;
        margin-top: 10px;
        background-color: transparent;
        color: #000000;
        border-radius: 50px;
        height: 40px;
        cursor: pointer;
        z-index: 1;
        border: none;
        outline: none;
        transition: all 0.25s ease;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: "Prompt", sans-serif;
        font-size: 18px;
    }

    #mobile-free-consult span.material-symbols-outlined {
        background-color: #6C151A;
        border-radius: 50%;
        padding: 10px;
        margin-right: 10px;
        font-size: 20px;
        color: #fff;
    }

    #mobile-free-consult:hover {
        color: #6C151A;
    }

    #mobile-free-consult:hover span.material-symbols-outlined {
        background-color: #ffffff;
        color: #000000;
    }

    .btn {
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    .left-text h1 {
        font-size: 54px;
    }

    .right-text p {
        color: #848A8A;
        width: 70%;
        margin-top: 0;
    }

    .right-text br {
        display: none;
    }

    .slider::after {
        width: 20%;
    }

    #free-consult {
        display: none;
    }

    .card {
        width: 300px;
        height: 300px;
    }
}
